body {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background-color: #474651;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    overflow-y: auto;
}

canvas {
  display: block;
  margin: 0 auto;
}

/**
 * POPOVER WRAPPER
 */
#popover-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    min-width: 500px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popover-wrapper.visible {
    background-color: rgba(71, 70, 81, 0.9);
}
